body {
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
}

.container {
    display: flex;
    border: solid;

}

.div {
    background-color: #CCC;
    border: solid;
    box-sizing: border-box;
}
