body {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: auto;
}

.div {
    background-color: pink;
    border: solid;
    flex: 1 0 auto;
}